// Start General Styles
* {
    margin: 0;
    padding: 0;
    font-family: cairo, 'sans-serif';
}

body {
    background-color: #f1f1f1 !important;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

// End General Styles

// Start Header Section
.navbar {
    padding: 18px 0 !important;
}

// End Header Section

.main-content {
    margin-top: 70px;
}

.gallery__title {
    text-align: center;
    letter-spacing: 1px;
}

.gallery__search {
    form {
        display: flex;
        justify-content: center;
        padding: 35px 0;

        input {
            border: 2px solid #eee;
            outline: none;
        }

        button {
            border-radius: 0;
        }
    }

    border: 2px solid #eee;
    border-bottom: 0;
    background-color: #fff;
}

.gallery__content {
    border: 2px solid #eee;
    padding-top: 50px;
    background-color: #fff;
}

.gallery__items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px;
}

.gallery__item {
    border: 1px solid #eee;
    padding: 30px;
    width: calc(33% - 24px);
    box-shadow: rgba(100, 100, 111, 0.08) 0px 7px 29px 0px;

    h5 {
        margin-top: 25px;
    }

    .category__name {
        color: coral;
    }
}
